@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add this to your global styles or in a specific CSS module */

@keyframes moveGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient {
  animation: moveGradient 20s linear infinite;
  background-size: 200% 200%; 
}


